Checks: |
  *,
  -hicpp-*,
  -modernize-*,
  -cppcoreguidelines-*,
  -fuchsia-*,
  -android-*,
  -google-readability-*,
  -google-build-using-namespace,
  -google-explicit-constructor,
  -google-runtime-references,
  -google-runtime-int,
  -cert-dcl03-c,
  -cert-dcl50-cpp,
  -cert-err58-cpp,
  -cert-err34-c,
  -llvm-include-order,
  -llvm-header-guard,
  -llvm-namespace-comment,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-optin.portability.UnixAPI,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.FloatLoopCounter,
  -cert-flp30-c,
  -readability-make-member-function-const,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
  -readability-else-after-return,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -readability-isolate-declaration,
  -readability-convert-member-functions-to-static,
  -readability-redundant-declaration,
  -readability-inconsistent-declaration-parameter-name,
  -readability-named-parameter,
  -readability-function-size,
  -bugprone-narrowing-conversions,
  -bugprone-incorrect-roundings,
  -bugprone-sizeof-expression,
  -bugprone-branch-clone,
  -bugprone-unhandled-self-assignment,
  -cert-oop54-cpp,
  -bugprone-signed-char-misuse,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-static-assert,
  -misc-misplaced-const,
HeaderFilterRegex: '.+/imgui[^/]*\.h'
FormatStyle: none
CheckOptions:
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             bugprone-assert-side-effect.AssertMacros
    value:           IM_ASSERT
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '2'
  - key:             google-readability-function-size.StatementThreshold
    value:           '1000'
